<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{ page.title }} - 都市鄉下人</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/dulao5">
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-781722-3']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>

	<body>
		<div id="logo"><h1><a href="/">都市鄉下人</a></h1></div>
		<div id="wrapper">
			<div id="content">
				<a target="_blank" style="float:right;margin-top:15px" href="http://twitter.com/share?url=http://www.dulao5.com{{ page.url }}&via=dulao5&text={{ page.title }}"><span class="balloon">retweet</span><img src="/image/tweet.png" /></a>
				<h2>{{ page.title }}</h2>
				<div class="cnt">
					{{ content }}
					<br />
					--EOF--
					<p>若无特别说明，本站文章均为原创，转载请保留链接，谢谢</p>
					<p>本文地址: http://www.dulao5.com{{ page.url }}</p>
				</div>
				<div id="disqus_thread"></div>
				<script type="text/javascript">
				  var disqus_identifier = "{{ page.url }}".replace(/\//g,'-').replace(/^-/g, '');
				  (function() {
				   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				   dsq.src = 'http://dulao5blog.disqus.com/embed.js';
				   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				  })();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=dulao5blog">comments powered by Disqus.</a></noscript>
			</div>

				<div id="footer">
					<span style="color:#bbb;font-size:12px">一个公民/程序员/父亲的思考</span>
					<p style="clear:both"></p>
				</div>
	</body>
</html>

